@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,700;1,700&family=Titan+One&display=swap');

.asap {
    font-family: "Asap";
}

.titanone {
    font-family: "Titan One";
    font-size: 320%;
}

.centre {
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
}

.button {
    background-color: #f4ce47;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
}

.button:hover{
    background-color: #ee8b02;
}

body {
    background-image: url("images/background.png");
}

div {
    border: none;
    border-radius: 10px;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.white {
    color: white;
}

.darkbg {
    background-color: rgba(0, 0, 0, 25%);
}